# Caso queira remover arquivos que já estão no github, seguir passos:
#     > git rm --cached .env
#     > git rm -r --cached vendor/
#     > git add .
#     > git commit -m "Removendo arquivos sensíveis"
#     > git status

#######################################################################

# Arquivo de ambiente, nunca subir
.env

#  Pasta do composer, pode reconstruir com composer install
vendor/

# Logs
*.log

# Arquivos temporários
*.cache

# Configuração do sistema
.DS_Store
Thumbs.db