* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: bisque;
    padding: 3rem;
    border-radius: .5rem;
    border: solid thin hsl(60, 28%, 74%);
}

.list_users {
    background-color: bisque;
    padding: 1rem;
    border-radius: .5rem;
    border: solid thin hsl(60, 28%, 74%);
}